<!DOCTYPE html>
<html ng-app="channelApp">
<head>
  <title>Playlist Maker</title>
  <meta charset=utf-8>
  <link rel=stylesheet href="style/style.css">
  <script src="lib/angular.js"></script>
  <script src="lib/jquery.js"></script>
  <script src="app/app.js"></script>
  <script src="app/controller.js"></script>
</head>
<body ng-controller="channelController">
  <div>
    <h2>Auto Pilot</h2>
    <input type="text" placeholder="Enter Subject or Topic" id="search" size="75"> <button type="submit" id="submission" ng-click="channelOne()">submit</button>
  </div>
  <div class="container"> 
    <div class="display">
      <div id="player">
      </div>
      <h3>{{current}}</h3>
    </div>
  </div> 
  <div class="display" id="remote">
    <div class="buttons">
      <div id="up" ng-click="channelUp()"><img src="img/up.jpg"></div>
      <div id="down" ng-click="channelDown()"><img src="img/down.jpg"></div>
    </div>
  </div> 
</body>
</html>